<div class="site-header">
  <header>
    <h1><b>T</b>ree <b>R</b>ings in <b>G</b>eography/<b>G</b>eoscience for <b>E</b>nvironmental <b>R</b>econstruction (TRIGGER)</h1>
  </header>

  <nav>
  <a href="{{ '/' | relative_url }}"
     {% if page.url == '/' %}class="active"{% endif %}>
    Home
  </a>

  <a href="{{ '/news/' | relative_url }}"
     {% if page.url == '/news/' %}class="active"{% endif %}>
    News
  </a>

  <a href="{{ '/about/' | relative_url }}"
     {% if page.url == '/about/' %}class="active"{% endif %}>
    About
  </a>

  <a href="{{ '/projects/' | relative_url }}"
     {% if page.url == '/projects/' %}class="active"{% endif %}>
    Projects
  </a>

  <a href="{{ '/collab/' | relative_url }}"
     {% if page.url == '/collab/' %}class="active"{% endif %}>
    Collaborations
  </a>
    
  <a href="{{ '/publications/' | relative_url }}"
     {% if page.url == '/publications/' %}class="active"{% endif %}>
    Publications
  </a>

  <a href="{{ '/gallery/' | relative_url }}"
     {% if page.url == '/gallery/' %}class="active"{% endif %}>
    Gallery
  </a>
    
  <a href="{{ '/contact/' | relative_url }}"
     {% if page.url == '/contact/' %}class="active"{% endif %}>
    Contact
  </a>
</nav>

</div>
