---
layout: default
title: Publications
---
<h2>Publications</h2>

<details class="pub-year-block">
  <summary class="pub-year">Preprints</summary>

  <ol class="publications">
    <li class="pub-item">
      Sanmiguel-Vallelado, A., <strong>Torbenson</strong>, M.C.A., Esper, J., Sangüesa-Barreda, G., Prado-López, C., Olano, J.M. (2026).
      <em>Unlocking the potential of pollarded oaks: A 375–year hydroclimate reconstruction from northcentral Spain</em>. 
      Preprint.
      <a href="https://egusphere.copernicus.org/preprints/2025/egusphere-2025-4494/">https://egusphere.copernicus.org/preprints/2025/egusphere-2025-4494/</a>
    </li>

    <!-- Add more preprints here -->
  </ol>
</details>

{% assign total_pubs = site.data.publications | size %}
{% assign counter = total_pubs %}
{% assign current_year = nil %}

{% for pub in site.data.publications %}
  {% if pub.year != current_year %}
    {% if current_year %}
      </ol>
      </details>
    {% endif %}

    {% assign current_year = pub.year %}

    <details open class="pub-year-block">
      <summary class="pub-year">{{ current_year }}</summary>
      <ol class="publications" reversed start="{{ counter }}">
  {% endif %}

  <li class="pub-item">
    {{ pub.authors | markdownify | remove: "<p>" | remove: "</p>" }}
    ({{ pub.year }}).
    <em>{{ pub.title }}</em>.
    {{ pub.journal }}{% if pub.doi %}.
    <a href="https://doi.org/{{ pub.doi }}">https://doi.org/{{ pub.doi }}</a>{% endif %}
  </li>

  {% assign counter = counter | minus: 1 %}
{% endfor %}

{% if current_year %}
    </ol>
  </details>
{% endif %}
